body {
    margin: 0;
    font-family: 'Inclusive Sans', sans-serif;
    background: linear-gradient(70deg, blue, purple, pink);
}

h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Skranji', cursive;
    color: #f9f9f9;
}

.Con-2 {
    display: none;
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

canvas {
    display: block;
}

.Con {
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: 15px;
}

.Button{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-1{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 130px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-1:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-2{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 130px;
    left: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-2:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-3{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 190px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-3:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-4{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 190px;
    left: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-4:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-5{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 250px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-5:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-6{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 250px;
    left: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-6:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-7{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 310px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-7:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-8{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 310px;
    left: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-8:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-9{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 370px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-9:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-10{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 370px;
    left: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-10:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-11{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 430px;
    left: -35px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-11:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Button-12{
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    position: fixed;
    top: 430px;
    left: 130px;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
}
  
.Button-12:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

.Contenedor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.Con-Emergente{
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
}

.cua{
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    padding: 35px;
    background-color: #f9f9f9;
    border: 2px solid greenyellow;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: aparecer 0.5s ease-out;
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
    50% {
      opacity: 0.5;
      transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }
}

@media (max-width: 468px) {
    body {
        background: linear-gradient(100deg, blue, purple, pink);

    }
}
